.progressWrapper {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background: #34eb71;
  position: relative;
}

.progress {
  position: absolute;
  background: #646cff;
  color: white;
  text-align: center;
  text-wrap: nowrap;
  top: 0;
  bottom: 0;
  left: 0;
}

.progress small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paymentInfo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* Responsive styling */
@media (max-width: 768px) {
  /* Make font size a bit smaller on smaller screens */
  .paymentInfo {
    font-size: 18px;
  }
}
